# Internet Layer
# -----------------------------------------------------------------------------
Name=

context=Switch
Name=Core
Count=2
Mtbf=
Mtbr=

context=NetworkInterface
Name=
Mtbf=
Mtbr=
MaxUploadBw=50
MaxDownloadBw=50

context=NetworkLink
LengthMin=100000
LengthMax=10000000
LossRateMin=
LossRateMax=