# HostFactory
# -----------------------------------------------------------------------------
#
# LC, MC, HC, VC = low/medium/high/very high computing
# LM, MM, HM, VM = low/medium/high/very high memory
# LS, MS, HS, VS = low/medium/high/very high storage
# LN, MN, HN, VN = low/medium/high/very high networking
# LR, MR, HR, VR = low/medium/high/very high reliability
# note:
#    MIPS are calculated from processor's freq by assuming that 1 instruction is run by cycle (which of course, may not be accurate)
#    Bandwidth is measured in mebi-Bytes/s not in mega-bits/s
#    Transfer rates are mesured in mebi-Bytes/s
#    mtbf/mtbr are measured in hours 
#    Put 0 for mtbf/mtbr to disable failures/repairs for the device. 
#
# #############################################################################

# leave empty to use default generation mode
GenerationMode_Class=

context=Host$
include=host0.config
Frequency=1

context=Host$
include=host1.config
Frequency=1

context=Host$
include=host2.config
Frequency=1

context=Host$
include=host3.config
Frequency=1
