# a storage host LC/LM/VS/VN
# -----------------------------------------------------------------------------
Name=LC/LM/VS/VN
Mtbf=1000000
Mtbr=

BootingDelay=

PowerConsumption=
PowerPercentageWhenIdle=

context=Pu
Name=Intel E3-1220L
Mtbf=
Mtbr=
Mips=2200
Cache=3
Count=4

context=Ram
Capacity=8192

context=Storage
Name=Toshiba MG03SCA400
Mtbf=
Mtbr=
Capacity=4000000
TransferRate=600
Count=3

context=NetworkInterface
Name=Intel I350-T2
Mtbf=
Mtbr=
MaxUploadBw=500
MaxDownloadBw=500