# MC/MM/MS/HN
# -----------------------------------------------------------------------------
Name=MC/MM/MS/HN
Mtbf=1000000
Mtbr=

BootingDelay=

PowerConsumption=
PowerPercentageWhenIdle=

context=Pu
Name=Intel E5-2637V2
Mtbf=
Mtbr=
Mips=3500
Cache=15
Count=8

context=Ram
Capacity=16318

context=Storage
Name=Toshiba MG03SCA100
Mtbf=
Mtbr=
Capacity=1000000
TransferRate=600
Count=1

context=NetworkInterface
Name=Intel PRO/1000 MT
Mtbf=
Mtbr=
MaxUploadBw=250
MaxDownloadBw=250