# Default classes (leave empty to let the simulator use its own defaults)
# Make sure to use fully qualified class names 
# #############################################################################

Checkpoint_Class=
CheckpointingHandler_Class=
CloudProvider_Class=
CloudProviderFactory_Class=
ComputingOperation_Class=
ComputingProvisioner_Class=
FailureFactory_Class=
GenerationFlow_Class=
GenerationMode_Class=
Host_Class=
HostFactory_Class=
Job_Class=
JobPlacementPolicy_Class=
MigrationHandler_Class=
NetworkInterface_Class=
NetworkLink_Class=
NetworkOperation_Class=
NetworkProvisioner_Class=
PowerManager_Class=
ProcessingUnit_Class=
PuAllocator_Class=
Ram_Class=
RamZone_Class=
RoutingProtocol_Class=
SfConsistencyManager_Class=
SfPlacementPolicy_Class=
SfReplicaSelectionPolicy_Class=
SfReplicationManager_Class=
Simulator_Class=
Staas_Class=
Storage_Class=
StorageFile_Class=
StorageOperation_Class=
StorageProvisioner_Class=
Switch_Class=
ThinClient_Class=
ThinClientVirtualMachine_Class=
TopologyFactory_Class=
Trace_Class=
TraceFactory_Class=
User_Class=
UserFactory_Class=
VirtualMachine_Class=
VirtualRam_Class=
VirtualStorage_Class=
VirtualMachineFactory_Class=
VmPlacementPolicy_Class=
Workload_Class=