# This is the main configuration file of the simulator.
# -----------------------------------------------------------------------------
#
# Lines starting with # or with ! are comments.
#
# Use the reserved "include" key to include an other configuration file. You
# can use a relative path (for "include") if the file is in the same directory
# as the current configuration file. 
#
# Use the reserved "context" key to define a context for next configurations.
# All further configuration keys are assumed to be in the given context.
# Moreover, included configuration files will be included under the given
# context.
# The $ symbol in context names is automatically replaced with a number which
# is equal to 0 when the context is used for the first time, and it is
# incremented each time the context is used again.
# When context names starts with the @ symbol, then this symbol is replaced
# with the current context.
# When context names starts with the % symbol, then this symbol is replaced
# with the parent context.
#
# Use the reserved "remove_config" key to remove a given configuration.
# Use regular expressions to remove multiple configurations, or to remove whole
# context configurations.  
# 
# #############################################################################  

# include classes configuration file
include=classes.config

# Maximum simulation run time in seconds before it is automatically stopped, default is infinity
#MaximumRunTime=10.0

# Random seed, give explicit seed value or set to "auto" to use a new seed per simulation (default is 0)
#seed=auto

# Set custom var directory
#VarDirectory=/my/own/path

# uncomment next line to disable failure generation
#Failures.Enabled=0

# next line tells the simulator to generate one CloudProvider using the given configuration file
context=CloudProvider
Count=1

# include cloud provider configuration files. You can give more than one configuration if needed.
context=CloudProvider$
include=cloudproviders/cloudprovider0.config