# Cloud Provider
# -----------------------------------------------------------------------------
Name=

# uncomment to disable most STaaS services (replication + consistency management)
#STaaS.Enabled=0

# uncomment the wanted topology configuration file 
#include=../topology/hierarchical.config
include=../topology/flat.config

# let's specify user count
context=User
Count=1

# configuration files that are used when generating users. You can give more than one configuration if needed.
context=User$
include=../users/user0.config

# You can also trace different probe values
# uncomment next lines to print CloudEnergy trace to the console 
#context=Trace$
#Probe=CpEnergy
# leave Output commented so the trace will be saved in the ./var folder. Or Specify your own folder. Use - for console.  
#Output=-

# Other Cloud Provider configuration values
context=

Price_1GBBwFromCloud=0.000
Price_1GBBwToCloud=0.010
Price_1GBBwFromInternet=0.000
Price_1GBBwToInternet=0.100

Price_1GBStorage=0.100