# VirtualMachine
# -----------------------------------------------------------------------------

Name=m3.medium

# uncomment next line to enable checkpointing
#Checkpointing.Enabled=1

Pu_Count=2
Pu_Mips=

Ram_Capacity=3840

Storage_Capacity=40000

Network_UploadBw=
Network_DownloadBw=

Price_FlatPerHour=0.070