# NoTopologyFactory Generation
# -----------------------------------------------------------------------------
#
# #############################################################################

TopologyFactory_Class=com.samysadi.acs.utility.factory.TopologyFactoryFlat

context=
include=hosts/all.config

context=Topology.Nodes
CountMin=60000
CountMax=100000

context=Topology.NodesPerRack
CountMin=40
CountMax=80

context=Topology.RacksPerCluster
CountMin=10
CountMax=20

context=Topology.ClustersPerDatacenter
CountMin=10
CountMax=20

context=InternetLayer
include=default/internetlayer.config
