# HierarchicalTopologyFactory
# -----------------------------------------------------------------------------
#
# #############################################################################

TopologyFactory_Class=com.samysadi.acs.utility.factory.TopologyFactoryHierarchical

# Hosts
# -----------------------------------------------------------------------------

context=
include=hosts/all.config

# Layers
# -----------------------------------------------------------------------------

context=Layer$
include=hierarchical/layer0.config

context=Layer$
include=hierarchical/layer1.config

context=Layer$
include=hierarchical/layer2.config

# Internet
# -----------------------------------------------------------------------------

context=InternetLayer
include=default/internetlayer.config
