# Workload
# -----------------------------------------------------------------------------

# A workload consists of one or more tasks. Each task is run after the last is finished.
# You don't need to give tasks count as it is automatically computed.

# You can define thin client workloads to simulate users uploading, or downloading data from the cloud
# Of course there is a limited set of tasks you can do using a thin client workload
# For instance you cannot define computing operations
# uncomment this next line to define a thin client workload
#ThinClientWorkload=1

# this task simply logs a message to the console
context=Task$
Task=Log
Message=Hello world, I'm starting to compute

# this tasks is a computation task
context=Task$
Task=Compute
Length=100000

# this task logs a message to the console to let know the computation has ended
context=Task$
Task=Log
Message=Computation ended. Bye!
