# User
# -----------------------------------------------------------------------------
Name=

# Creates one thin client for the user.
# Note that other thin client may be generated using appropriate workload tasks. 
context=ThinClient
Count=1

# Creates one VM for the user.
# You can use FlowMeanTime to define when the user asks to deploy a new VM.
# Zero FlowMeanTime means that all VMs (as given in Count) are deployed immediately.
# Note that other VMs may be generated using appropriate workload tasks.
context=VirtualMachine
Count=1
FlowInitialDelay=0
FlowInitialCount=0
FlowMeanTime=0

# VM configuration file. You can give more than one configuration if needed.
context=VirtualMachine$
include=../virtualmachines/virtualmachine0.config

# Creates one workload for the user.
# You can use FlowMeanTime to define when a new workload is initiated.
# Zero FlowMeanTime means that all user Workloads (as given in Count) are immediately initiated.
context=Workload
Count=1
FlowInitialDelay=0
FlowInitialCount=0
FlowMeanTime=0

# Workload configuration file. You can give more than one configuration if needed.
context=Workload$
include=../workloads/workload0.config

# You can add User specific traces here
# Uncomment next lines to dump UserBilling trace to console
#context=Trace$
#Probe=UserBilling
# leave Output commented so the trace will be saved in the ./var folder. Or Specify your own folder. Use - for console. 
#Output=-