# Layer
# -----------------------------------------------------------------------------

Name=Rack
NewRack=1
context=Nodes
CountMin=40
CountMax=80

context=Switch
Name=TOR
Count=2
Mtbf=
Mtbr=

context=NetworkInterface
Name=Intel I350-T2
Mtbf=
Mtbr=
MaxUploadBw=500
MaxDownloadBw=500

context=NetworkLink
LengthMin=1
LengthMax=20
LossRateMin=
LossRateMax=