# Layer
# -----------------------------------------------------------------------------

Name=Cluster
NewCluster=1
context=Nodes
CountMin=50
CountMax=75

context=Switch
Name=AGR
Count=2
Mtbf=
Mtbr=

context=NetworkInterface
Name=
Mtbf=
Mtbr=
MaxUploadBw=1250
MaxDownloadBw=1250

context=NetworkLink
LengthMin=50
LengthMax=500
LossRateMin=
LossRateMax=